BW_new_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="order" type="orderType"/><xs:complexType name="orderType"><xs:sequence><xs:element type="xs:string" name="customer_name" minOccurs="0"/><xs:element type="itemsType" name="items" maxOccurs="unbounded" minOccurs="0"/><xs:element type="ship_to_addrType" name="ship_to_addr" minOccurs="0"/><xs:element type="xs:byte" name="total_price" minOccurs="0"/></xs:sequence></xs:complexType><xs:complexType name="ship_to_addrType"><xs:all><xs:element type="xs:string" name="ship_to_city" minOccurs="0"/><xs:element type="xs:string" name="ship_to_country" minOccurs="0"/><xs:element type="xs:string" name="ship_to_state" minOccurs="0"/><xs:element type="xs:string" name="ship_to_street" minOccurs="0"/><xs:element type="xs:int" name="ship_to_zip_code" minOccurs="0"/></xs:all></xs:complexType><xs:complexType name="itemsType"><xs:all><xs:element type="xs:short" name="item_no" minOccurs="0"/><xs:element type="xs:byte" name="quantity" minOccurs="0"/></xs:all></xs:complexType></xs:schema>